<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <link href="/web/css/fontawesome-all.min.css" rel="stylesheet">
    @*<link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">*@
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ONLİNE CV</title>
    <link rel="stylesheet" href="// cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <!-- Bootstrap -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <title>
    Online CV Abdurrahman ALAS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Conjoint Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="/web/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/web/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/web/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <!-- //online-fonts -->
</head>
<body>
    <div class="sidenav text-center">
        <div class="side_top">
            <img src="~/Content/Resim/ae.jpg" alt="news image" class="img-fluid navimg">
            <br />
            <br />
            <h5 class="top_hd mt-2"><a href="index.html"><b style="color:white"> ABDURRAHMAN ALAS</b></a></h5>
            <h6 style="color:white" class="top_hdp mt-2">Bilgisayar Mühendisi</h6>
        </div>
        <!-- header -->
        <header>
            <div class="nav-top">
                <nav class="mnu mx-auto">
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop">
                    <ul class="menu">
                        <li class="mt-sm-3"><a href="/Home/Index" class="scroll">✎ Eğitim Hayatım</a></li>
                        <li class="mt-sm-3"><a href="#services" class="scroll">◉ Teknik Beceriler</a></li>
                        <li class="mt-sm-3"><a href="#services" class="scroll">➢ İş Hayatım</a></li>
                        <li class="mt-sm-3"><a href="#news" class="scroll"> ㊂  Projeler</a></li>
                        <li class="mt-sm-3"><a href="#contact" class="scroll">✆ İletişim</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- //header -->
    </div>
    <div class="main">
        @*<div class="banner-text-w3ls" id="home">
                <div class="container">
                    <div class="mx-auto text-center">

                    </div>
                </div>
            </div>*@
        <!-- about -->
        <section class="slide-wrapper" id="about">
            <div class="container">
                <h2  style="color:darkblue"><b> EGİTİM HAYATIM </b></h2>
                <h4 class="main_hd"></h4>
                <p class="iner mt-md-5">
                    <h4 class="w3_head mb-4" style="color:blue"> BİLGİSAYAR MÜHENDİSLİĞİ LİSANS </h4>
                    <div>
                        <h6 style="color:black">
                            ◉  ERCİYES üniversitesi Mühendislik Fakültesi Bilgisayar mühendisliği bölümünden 2019 yılında mezun oldum.  Bölümümüzün istemiş olduğu 2 adet toplamda 48  günlük stajlarımı 2019  yılında Kayseri Büyükşehir Belediyesi CBS biriminde yaptım.
                        </h6>
                    </div>
                    <br />
                    <br />
                    <div>
                        <h6 style="color:black"> ◉  Bitirme tezi olarak;Güneş Enerjisine geldiği açıya göre  göre yön değiştirebilen ve depolayan enerji panelleri tasarladım.(Ardunıo ile)</h6>
                    </div>
                    <br />
                    <br />
                    <div>
                        <h6 style="color:black"> ◉  70 Saatlik web tasarım/programlama egitimi aldım. </h6>
                    </div>
                    <br />
                    <br />
                    <div>
                        <h6 style="color:black"> ◉  BTK Akademi platformundan yazılım alanında  eğitimlere devam etmekteyim. </h6>
                    </div>


                </p>
                <br />
                <dV>
                    <h4 class="w3_head mb-4" style="color:blue"> ZİRAAT MÜHENDİSLİĞİ EGİTİMİ </h4>
                    <h6 style="color:black">
                        Ankara üniversitesi Ziraat Mühendisliği bölümünde 2008-2010 yılları arasında 2 yıllık egitim aldım.
                    </h6>
                </dV>   <br />
                <br />
                <div>
                    <h4 class="w3_head mb-4" style="color:blue">KAYSERİ 75.YIL ANADOLU LİSESİ</h4>
                    <h6 style="color:black">
                        Lise eğitimimi Kayseri 75.yıl Anadolu lisesinde tamamladım.
                        Diploma Notu: 4.49 (5 lik sistemde)
                    </h6>
                </div>
            </div>
        </section>
        <!-- //about -->
        <!-- services -->
        <section class="services" id="services">
            <div class="container">
               <h2  style="color:darkblue"><b> TEKNİK BECERİLER</b></h2>
                <br />
                <h4 class="w3_head mb-4" style="color:blue"> PROGRAMLAMA DİLLERİ</h4>
                <ul>
                    <li>
                        <div class="row">

                            <div class="col-12">
                                <div class="badge badge-primary"> ➤  C # .NET </div>
                            </div>
                            <br />
                            <br />

                            <div class="col-10">
                                <h6 style="color:black">◉ C# Windows Forms ie Masaüstü Uygulamaları</h6>
                            </div>
                            <br />
                            <br />
                            <div class="col-10">
                                <h6 style="color:black">◉  Object Oriented tasarımlar. </h6>
                            </div>
                            <br />
                            <br />
                            <div class="col-10">
                                <h6 style="color:black">◉  ASP.NET Identity ile user admin rol bazlı yetkilendirme  </h6>
                            </div>
                            <br />
                            <br />
                            <div class="col-12">
                                <h6 style="color:black">◉ C# .Net WebForm ile Web Uygulamaları</h6>
                            </div>
                            <br />
                            <br />

                            <div class="col-10">
                                <h6 style="color:black">◉ Entity Framework ve web servisler kullanılarak otomasyon sistemlerinin hazırlanması.</h6>
                            </div>
                            <br />
                            <br />

                            <div class="col-12">
                                <h6 style="color:black">◉ Web Api ile web servis tasarımı</h6>
                            </div>
                            <br />
                            <br />
                            <div class="col-12">
                                <h6 style="color:black">◉ ASP.NET MVC ile Web Uygulamaları</h6>
                            </div>
                            <br />
                            <br />
                        </div>
                        <div class="row">

                            <div class="col-12">
                                <div class="badge badge-primary"> ➤  WEB API </div>
                            </div>
                            <br />
                            <br />

                            <div class="col-12">
                                <h6 style="color:black">◉ Asp.net ile web apı proje geliştirme.</h6>
                            </div>
                            <br />
                            <br />






                            <div class="col-12">
                                <div class="badge badge-primary">➤ .NET  CORE </div>
                            </div>
                            <br />
                            <br />

                            <div class="col-10">
                                <h6 style="color:black">◉ .Net Core ile başlangıç seviyesinde proje geliştirme . </h6>
                            </div>
                            <br />
                            <br />
                            <div class="col-10">
                                <h6 style="color:black">◉  ASP.NET Identity ile user admin rol bazlı yetkilendirme  </h6>
                            </div>
                            <br />
                            <br />
                            <div class="col-12">
                                <h6 style="color:black">◉  Entity Framework core hakkında temel bilgi sahibi</h6>
                            </div>
                            <br />
                            <br />
                            <h4 class="w3_head mb-4" style="color:blue">WEB TEKNOLOJİLERİ/SCRIPTING DİLLERİ</h4>
                            <ul>
                                <li>
                                    <div class="row col-lg-12 ">

                                        <div class="col-12">
                                            <div class="badge badge-success"> ◉ HTML / CSS </div>
                                        </div>
                                        <br />
                                        <br />

                                        <div class="col-10">
                                            <h6 style="color:black">◉Div tabanlı Responsive tasarımlar</h6>
                                        </div>
                                        <br />
                                        <br />

                                        <div class="col-12">
                                            <h6 style="color:black">◉ Bootstrap,Less gibi güncel araç kullanımı</h6>
                                        </div>
                                        <br />
                                        <br />

                                        <div class="col-10">
                                            <h6 style="color:black">◉ Kullanıcı Deneyimi bilgisi.</h6>
                                        </div>
                                        <br />
                                        <div class="col-12">
                                            <div class="badge badge-success">➤ JAVASCRİPT </div>
                                        </div>
                                        <br />
                                        <br />

                                        <div class="col-10">
                                            <h6 style="color:black">◉ .Net projelerinde JQuery ile dinamik tasarımlar gerçekleştirdim. </h6>
                                        </div>
                                        <br />
                                        <br /> <div class="col-10">
                                            <h6 style="color:black">◉ Projelerde ihtiyaç halinde AJAX kullanımı gerçekleştirdim.  </h6>
                                        </div>
                                        <br />
                                        <br />


                                        <div class="col-12">
                                            <h6 style="color:black">◉ AngularJS MVW kütüphanesi kullanımı</h6>
                                        </div>
                                        <br />
                                        <br />


                                    </div>
                                    <br />
                                    <br />
                                    <div class="row col-lg-6">



                                    </div>
                                </li>


                                @*<li>
                <div class="row">
                    <div class="col-2 ic-lft">
                        <span class="fa fa-coffee"></span>
                    </div>
                    <div class="col-10">
                        <h6>Nascetur adipiscing</h6>
                    </div>
                </div>
            </li>*@


                            </ul>
                            <h2 style="color:darkblue">
                                <b>
                                    VERİTABANI YÖNETİMİ KULLANIMI
                                </b>
                            </h2>
                            <br />  <br />
                            <ul>
                                <li>
                                    <div class="row col-lg-12 ">

                                        <div class="col-12">
                                            <div class="badge badge-primary">➤ MİCROSOFT SQL SERVER </div>
                                        </div>
                                        <br />
                                        <br />

                                        <div class="col-10">
                                            <h6 style="color:black">◉ SQL diline hakimlik(paket yapısı,procedure çağrımları,transaction yönetimi)</h6>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="col-10">
                                            <h6 style="color:black">◉  Şema ve user yetkilendirmeleri hakkında bilgi sahibiyim.</h6>
                                        </div>
                                        <br />
                                        <br />

                                        <div class="col-12">
                                            <h6 style="color:black">◉ Genel olarak projelerimde kullandığım veritabanı MSSQL</h6>
                                        </div>
                                        <br />
                                        <br />

                                        <div class="col-10">
                                            <h6 style="color:black">◉ Kullanıcı Deneyimi bilgisi.</h6>
                                        </div>
                                        <br />
                                        <div class="col-12">
                                            <div class="badge badge-primary">➤ POSTGRESQL </div>
                                        </div>
                                        <br />
                                        <br />

                                        <div class="col-10">
                                            <h6 style="color:black">◉ Temel ihtiyaçlar için kullanım.   </h6>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="col-10">
                                            <h6 style="color:black">◉ PgAdmin4 kullanım bilgisi.   </h6>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="col-10">
                                            <h6 style="color:black">◉ Temel seviyede PostgreSQL ile Postgis ve GeoJson eklentileri çalışmaları.  </h6>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="col-12">
                                            <h6 style="color:black">◉ Entity framework ile entegrasyon hakkında bilgi sahibiyim.</h6>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="col-12">
                                            <div class="badge badge-primary">➤ MYSQL </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="col-10">
                                            <h6 style="color:black">◉   HeidiSQL, phpMyAdmin kullanım bilgisi,  </h6>
                                        </div>
                                        <br />
                                        <br />

                                        <div class="col-10">
                                            <h6 style="color:black">◉ Temel olarak bilgi sahibiyim .  </h6>
                                        </div>
                                        <br />
                                        <br />

                                        <div class="col-10">
                                            <h6 style="color:black">◉ Kullanıcı Deneyimi bilgisi.</h6>
                                        </div>
                                        <br />



                                    </div>
                                    <br />
                                    <br />
                                    <div class="row col-lg-6">



                                    </div>
                                </li>


                                @*<li>
                <div class="row">
                    <div class="col-2 ic-lft">
                        <span class="fa fa-coffee"></span>
                    </div>
                    <div class="col-10">
                        <h6>Nascetur adipiscing</h6>
                    </div>
                </div>
            </li>*@


                            </ul>
                            <h2 style="color:darkblue">
                                <b>
                                    STAJ VE İŞ DENEYİMLERİ</b></h2>
                            <br />
                            <br />
                                    <ul>
                                        <li>
                                            <div class="row col-lg-12 ">

                                                <div class="col-12">
                                                    <div class="badge badge-success"> ➤ STAJ VE İŞ DENEYİMLERİ</div>
                                                </div>
                                                <br />
                                                <br />

                                                <div class="col-10">
                                                    <h6 style="color:black">◉ Yazılım Stajımı Kayseri Büyükşehir Cografi Bilgi Sistemi biriminde yaptım. </h6>
                                                </div>
                                                <br />
                                                <br />

                                                <div class="col-12">
                                                    <h6 style="color:black">◉ Donanım Stajiımı Bilgi işlem Biriminde yaptım .Staj bitirme projem; El Tipi GPS otomasyonu projesi .</h6>
                                                </div>
                                                <br />
                                                <div class="col-12">
                                                    <h6 style="color:black">◉(2015) İstanbul Başar Bilişim firması 3 ay süre ile eğitim </h6>
                                                </div>
                                                <div class="col-12">
                                                    <h6 style="color:black">◉ 2018 yılından itibaren Freelancer olarak web sitesi uygulamaları,masaüstü uygulamaları,Teknik Servis Takip otomasyonu gibi projeler geliştirmekteyim. </h6>
                                                </div>
                                                <div class="col-12">
                                                    <h6 style="color:black"><b>◉ Şu an  Kayseri Büyükşehir Belediyesi  için web tabanlı  projeler geliştirmekteyim.Görseller Projelerim kısmındadır.</b> </h6>
                                                </div>
                                                <br />
                                                <br />




                                            </div>
                                            <br />
                                            <br />
                                            <div class="row col-lg-6">



                                            </div>
                                        </li>


                                        @*<li>
                        <div class="row">
                            <div class="col-2 ic-lft">
                                <span class="fa fa-coffee"></span>
                            </div>
                            <div class="col-10">
                                <h6>Nascetur adipiscing</h6>
                            </div>
                        </div>
                    </li>*@


                                    </ul>
                                    <h2 style="color:darkblue">
                                        <b>
                                             YARDIMCI ARAÇLAR
                                        </b>
                                    </h2>
                                    <br />
                                    <br />
                                    <ul>
                                        <li>
                                            <div class="row col-lg-12 ">

                                                <div class="col-12">
                                                    <div class="badge badge-secondary">➤YARDIMCI ARAÇLAR </div>
                                                </div>
                                                <br />
                                                <br />

                                                <div class="col-10">
                                                    <h6 style="color:black">◉ DEVEXSPRESS ile COVID-19 görselleştirme projesi gelistirdim.</h6>
                                                </div>
                                                <br />
                                                <br />

                                                <div class="col-12">
                                                    <h6 style="color:black">◉ DEVEXSPRESS ve WEB modüllü Teknik Servis Ürün Takibi projesi geliştirme.</h6>
                                                </div>
                                                <br />
                                                <br />

                                                <div class="col-10">
                                                    <h6 style="color:black">◉ Visual Studio 2017,2019,Eclipse IDE kullanımı.</h6>
                                                </div>
                                                <br />
                                                <br />
                                                <div class="col-10">
                                                    <h6 style="color:black">◉ Eclipse IDE kullanımı.Uygulamalar.</h6>
                                                </div>
                                                <br />
                                                <br />
                                                <div class="col-10">
                                                    <h6 style="color:black">◉ Veritabanı için çoğunlukla SQL SERVER kullanımı.</h6>
                                                </div>
                                                <br />

                                                <br />
                                                <div class="col-10">
                                                    <h6 style="color:black">◉ PostgreSQL,pgAdmin4 kullanımı. </h6>
                                                </div>

                                                <br />
                                                <div class="col-10">
                                                    <h6 style="color:black">◉ Paket Programlar: Microsoft word,excel,power point, Adobe Dreamviewer</h6>
                                                </div>

                                                <br />




                                            </div>
                                            <br />
                                            <br />
                                            <div class="row col-lg-6">



                                            </div>
                                        </li>


                                        @*<li>
                        <div class="row">
                            <div class="col-2 ic-lft">
                                <span class="fa fa-coffee"></span>
                            </div>
                            <div class="col-10">
                                <h6>Nascetur adipiscing</h6>
                            </div>
                        </div>
                    </li>*@


                                    </ul>
                        </div>
                    </li>


                    @*<li>
                            <div class="row">
                                <div class="col-2 ic-lft">
                                    <span class="fa fa-coffee"></span>
                                </div>
                                <div class="col-10">
                                    <h6>Nascetur adipiscing</h6>
                                </div>
                            </div>
                        </li>*@


                </ul>

            </div>
        </section>
        <!-- //services -->
        <!-- news -->
        <div class="news" id="news">
            @RenderBody()

        </div>
        <!-- //news -->
        <!-- contact -->
        <section class="wedo" id="contact">
            <h2 style="color:darkblue">
                <b>
                    İLETİŞİM </b> </h2>
                    <p class="iner mt-md-5 text-left"></p>
                    <div class="col-md-10 company_address" style="color:black">

                        <p>
                            Email: <a href="irfanince@gmail.com">abdurrahman38alas@gmail.com</a>

                            </a>
                        </p>
                        <br />

                        <p>
                            <img src="~/Content/Resim/w3.jpg" />   Whatsapp İletişim: 0545 408 14 42
                        </p>
                        <br />
                        <p>
                            <img src="~/Content/Resim/b1.jpg" />    Bip İletişim: 0545 408 14 42
                        </p>
                        <br />




                        <p>
                            Sosyal medya hesaplarım: <a href="https://github.com/AbdurrahmanAlas/LibraryAppASP.NETMVC">
                                <img src="~/Content/Resim/fac.png" /> Facebook
                            </a>
                            <a href="#">
                                <img src="~/Content/Resim/tw.png" /> Twitter
                            </a>
                            <br />
                            <a href="#">
                                <a href="https://tr.linkedin.com/in/abdurrahman-alas-321a9a1a8"> <img src="~/Content/Resim/123.jpg" /> Linkedin</a>
                            </a>

                            <a href="https://github.com/AbdurrahmanAlas/LibraryAppASP.NETMVC">
                                <img src="~/Content/Resim/cv.png" /> Github...
                            </a>

                    </div>
                    <div class="cpy-right text-center">
                        <p>
                            © Abdurrahman ALAS | Online CV

                        </p>
                    </div>
</section>
        <!-- //contact -->
    </div>

</body>
</html>